---
const base = import.meta.env.BASE_URL;
const { nav, current } = Astro.props;
---

<header>
  <div class="container nav-container">
    <a href={`${base}`} class="logo">AK<span>.</span></a>
    <nav>
      <button class="hamburger" id="hamburger" aria-label="Toggle Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul id="nav-links">
        <li><a href={`${base}`}>Home</a></li>
        {nav.map((item: { label: string; href: string }) => (
          <li><a href={item.href}>{item.label}</a></li>
        ))}
        <li>
          <slot name="role-switcher" />
        </li>
      </ul>
    </nav>
  </div>
</header>
